@mixin centered-columns() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin size($height, $margin) {
  height: $height;
  margin: $margin;
}
@mixin mainCard() {
  display: grid;
}
@mixin flex($cont: center, $align: center, $dir: row, $wrap: nowrap) {
  display: flex;
  justify-content: $cont;
  align-items: $align;
  flex-direction: $dir;
  flex-wrap: $wrap;
}
