.header {
  width: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.navbar__link {
  color: #102c57;
  text-decoration: none;
}

#navbar-container {
  height: 4em;
  width: 100%;
  background-color: #dac0a3;
  border: 1px solid black;
}

body {
  background-color: #eadbc8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3%;
}

footer {
  background-color: #dac0a3;
}

.section__gallery {
  background-color: #f8f0e5;
  color: #102c57;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.section__projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px solid #102c57;
  height: auto;
}
.section--left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  width: 70%;
}
.section--right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
}
.section__media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 3% 2%;
  margin-bottom: 1.5rem;
  height: auto;
  width: 500px;
}
.section--header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
