@use "./partials/_breakpoints.scss";
@use "./partials/_mixins.scss";
@use "./partials/_palette.scss";
@import "./partials/_mixins.scss";
html {
  background-color: palette.$palette-2;
}
.header {
  padding-top: 60px;
  width: 100%;
  text-align: center;
}
.navbar {
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: palette.$palette-3;
  padding: 10px 0px 10px 0px;
}
.navbar-list {
  @include mixins.flex($cont: space-evenly);
  list-style: none;
  color: palette.$palette-4;

  &__link {
    color: palette.$palette-4;
    text-decoration: none;
  }
}
body {
  background-color: palette.$palette-2;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  background-color: palette.$palette-3;
}
.section {
  &__gallery {
    @include mixins.flex($dir: column);
    background-color: palette.$palette-2;
    color: palette.$palette-4;
    overflow-x: hidden;
    padding: 0 3rem;
    border-bottom: 2px solid palette.$palette-4;
    @include breakpoints.tablet {
      @include mixins.projects-styling-phone;
      @include mixins.flex($dir: column);
    }
    @include breakpoints.phone {
      @include mixins.projects-styling-phone;
      @include mixins.flex($dir: column);
    }
  }
  &__projects {
    @include mixins.flex($cont: space-between);
    border-bottom: 2px solid palette.$palette-4;
    height: auto;
    @include breakpoints.tablet {
      @include mixins.flex($cont: center, $dir: column);
      @include mixins.projects-styling-phone;
    }
    @include breakpoints.phone {
      @include mixins.projects-styling-phone;
    }
    &--icons {
      margin-top: 10px;
      font-size: 45px;
      color: palette.$palette-4;
      padding: 5px;
    }
  }
  &--left {
    @include mixins.flex($dir: row-reverse);
  }
  &--right {
    @include mixins.flex();
  }
  &__media {
    @include mixins.flex($cont: space-between);
    padding: 3% 2%;
    margin-bottom: 1.5rem;
    height: auto;
    width: 500px;
  }
  &--header {
    @include mixins.flex();
    padding: 20px 10px 10px 10px;
    padding-top: 80px;
  }
  &__skills {
    // @include mixins.flex();
    height: 60vh;
    width: 70vh;
    display: grid;

    justify-items: center;
    align-items: center;
    margin: 10vh 10vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &--icons {
      padding: 20px;
      font-size: 80px;
      color: palette.$palette-4;
      @include mixins.flex($dir: row);
    }
    @include breakpoints.phone {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
